<div class="main brk" id="demo1_wrap">
	<div class="w">
		<h1>HTML DOM backgroundImage 属性</h1>
		<p class="font30">
			定义和用法
			backgroundImage 属性设置元素的背景图像。
			语法：
			Object.style.backgroundImage=url(URL)|none
		</p>
		<p class="font22">
			定义和用法
			backgroundImage 属性设置元素的背景图像。
			语法：
			Object.style.backgroundImage=url(URL)|none
		</p>
		<br>
		<!--<div class="PGX_toast"><span>提示语1为23</span></div>-->
		<div onclick="window.app.utils.toast('提示语1199');">点击toast</div>

		<button class="PGX_triggerPop" data-for="1">点击弹窗输入</button>
		<div class="PGX_pop" data-id="1">
			<div class="PGX_cover PGX_closePop"></div>
			<div class="PGX_cover_content">
				<input type="text">
				<br>
				<label for="">请输入</label>
				<span class="PGX_closePop">取消</span>
			</div>
		</div>

		<div class="PGX_triggerToggle" data-for="1">点击查看详情<span class="arrow"></span></div>
		<div class="PGX_toggle" data-id="1">
			<span class="PGX_toggleInfo">
				内容.1...
				内容.2...
				内容..3..
				内容..5..
			</span>
			<span class="PGX_toggle_hide">收起来 <span class="arrow on"></span></span>
		</div>
		<span class="arrow_up"></span>
		<button class="requestBtn">点击请求数据</button>
		<div id="demo1_reqData"></div>
		<label class="appLink" data-link="demo2"><span>demo2</span></label>
	</div>

</div>

<script type="text/html" id="demo1Tpl">
	<% _.each(data, function (item, i) { %>
		<li class="rankItem">
			<%= item %>
		</li>
	<% }); %>
</script>