<div id="superiorScore_wrap" class="scoreMode">
	<div id="scorePanel"></div>
	<div id="evaluatePanel">
		<h1 class="targetName"></h1>
		<p>请对他的年终总结进行评价</p>
		<textarea class="popFocus" id="evaluateInput" placeholder="请输入评语，不少于50字"></textarea>
		<div class="PGX_footer">
			<span class="submitSE">提交</span><!--
			--><span class="returnScore PGX_fr">返回</span>
		</div>
	</div>

	<div class="PGX_pop" id="notScoreTips" data-id="nextInput">
		<div class="PGX_cover PGX_closePop"></div>
		<div class="PGX_cover_content">
			<div class="content"><p class="tips">需要完成所有的评分项目后才能提交</p></div>
			<span class="PGX_closePop PGX_fr ftBlue">确认</span>
		</div>
	</div>
</div>

<script type="text/html" id="superiorScoreTpl">
	<div>
		<div class="line">
			<h1 class="PGX_title"><%= name %></h1>
			<% if(selfSore){ %>
			<div class="PGX_fr fixPaddingTop">
				<span>年度得分</span><!--
				--><span class="PGX_number" id="selfSore"><%= selfSore %></span>
			</div>
			<% } %>
		</div>
		<!--KPI/关键任务-->
		<% if($.isArray(kpiLists) && kpiLists.length > 0){ %>
			<% _.each(kpiLists, function(item, index) {%>
			<div class="line">
				<% if(index===0){ %>
				<h2 class="ftBlue">KPI / 关键任务</h2>
				<% } %>
				<h3><%= item.kpiKey %></h3>
				<div class="itemLine">
					<span class="ftGray">权重</span><!--
					--><span><%= item.proportion %></span>
				</div>
				<div class="itemLine">
					<span class="ftGray">自评得分</span><!--
					--><span><%= item.kpiSore %></span>
					<div class="posRight">
						<!--<label class="blueBtn">-->
							<!--<input data-key='<%= item.kpiKey %>' data-proportion='<%= item.proportion.replace("%", "") %>' class="scoreInput PGX_number" type="number">-->
							<!--<span>评分</span>-->
						<!--</label>-->
						<span class="PGX_number" data-bind="<%= item.kpiKey %>"></span><!--
						--><span class="PGX_triggerPop blueBtn" data-for="<%= item.kpiKey %>"><span>评分</span></span>
						<div class="PGX_pop" data-id="<%= item.kpiKey %>">
							<div class="PGX_cover PGX_closePop"></div>
							<div class="PGX_cover_content">
								<input data-key='<%= item.kpiKey %>'
									   value="1"
									   data-proportion='<%= item.proportion.replace("%", "") %>' class="scoreInput popFocus" type="number" placeholder="请输入得分">
								<div class="PGX_fr">
									<span class="PGX_closePop ftBlue">确认</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% if(item.info){ %>
				<div class="borderTop">
					<div class="PGX_triggerToggle itemInner " data-for="<%= index %>">查看详情<span class="arrow"></span></div>
					<div class="PGX_toggle" data-id="<%= index %>">
						<span class="PGX_toggleInfo content">
							<%= item.info %>
						</span>
						<!--<span class="PGX_toggle_hide ftBlue">收起来<span class="arrow on"></span></span>-->
					</div>
				</div>
				<% } %>
			</div>
			<%});%>
		<% }%>
		<!--综合自评-->
		<% if(selfEvaluate){ %>
		<div class="line">
			<div class="ftBlue">综合自评</div>
			<div class="content">
				<%= selfEvaluate %>
			</div>
		</div>
		<% }%>
		<!--2018年规划-->
		<% if(future){ %>
		<div class="line">
			<div class="ftBlue">2018年规划</div>
			<div class="content">
				<%= future %>
			</div>
		</div>
		<% }%>
	</div>
	<!--分享-->
	<span class="footBtn">
		<span class="itr PGX_desc PGX_fl">已评价权重</span><!--
		--><span id="scorePer" class="ftBlue PGX_desc PGX_fl">0%</span><!--
		--><span class="itr PGX_desc">综合得分</span><!--
		--><span id="scoreTotal" class="ftBlue PGX_desc">0分</span><!--
		--><span class="enterEvaluate PGX_fr PGX_triggerPop" data-for="nextInput">下一步</span>
	</span>
</script>
