<div id="superiorScore_wrap">
	<!--content-->
</div>

<script type="text/html" id="superiorScoreTpl">
	<div>
		<div class="line">
			<h1 class="PGX_title"><%= name %></h1>
			<% if(selfSore){ %>
			<div class="PGX_fr fixPaddingTop">
				<span>年度得分</span><!--
				--><span class="PGX_number" id="selfSore"><%= selfSore %></span>
			</div>
			<% } %>
		</div>
		<!--KPI/关键任务-->
		<% if($.isArray(kpiLists) && kpiLists.length > 0){ %>
			<% _.each(kpiLists, function(item, index) {%>
			<div class="line">
				<% if(index===0){ %>
				<h2 class="ftBlue">KPI / 关键任务</h2>
				<% } %>
				<h3><%= item.kpiKey %></h3>
				<div class="itemLine">
					<span class="ftGray">权重</span><!--
					--><span><%= item.kpiRate %></span>
				</div>
				<div class="itemLine">
					<span class="ftGray">自评得分</span><!--
					--><span><%= item.kpiSore %></span>
					<div class="PGX_fr">
						<label class="blueBtn">
							<input data-key='<%= item.kpiKey %>' class="scoreInput PGX_number" type="number">
							<span>评分</span>
						</label>
					</div>
				</div>
				<% if(item.info){ %>
				<div class="PGX_triggerToggle itemInner" data-for="<%= index %>">查看详情<span class="arrow"></span></div>
				<div class="PGX_toggle" data-id="<%= index %>">
					<span class="PGX_toggleInfo">
						<%= item.info %>
					</span>
				</div>
				<% } %>
			</div>
			<%});%>
		<% }%>
		<!--综合自评-->
		<% if(selfEvaluate){ %>
		<div class="line">
			<div class="ftBlue">综合自评</div>
			<div class="content">
				<%= selfEvaluate %>
			</div>
		</div>
		<% }%>
		<!--2018年规划-->
		<% if(future){ %>
		<div class="line">
			<div class="ftBlue">2018年规划</div>
			<div class="content">
				<%= future %>
			</div>
		</div>
		<% }%>
	</div>
	<!--分享-->
	<span class="footBtn">
		<span class="itr PGX_desc PGX_fl">已评价权重</span><!--
		--><span id="scorePer" class="ftBlue PGX_desc PGX_fl">0%</span><!--
		--><span class="itr PGX_desc">综合得分</span><!--
		--><span id="scoreTotal" class="ftBlue PGX_desc">0</span><!--
		--><span class="next PGX_fr">下一步</span>
	</span>
</script>
