@r: 1/72;
@ft-black: #000;
@ft-gray: #888;
@br-gray: #e5e5e5;
@c-blue: #0090ff;
@c-white: #fff;
@c-red: #ff0000;
@1px: @r*1rem;

/*基本工具*/
/*混合Mixin*/
.nowrap () {
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
};

#superiorScore_wrap {
  box-sizing: border-box;
  padding-bottom: @r*160rem;
  .PGX_number{
    margin-left: @r*18rem;
  }
  .line{
    box-sizing: border-box;
    padding: @r*18rem @r*40rem;
    border-bottom: @1px solid @br-gray;
    padding-top: @r*18rem;
    &>*{
      line-height: @r*70rem;
    }
    &:nth-child(1){
      line-height: @r*124rem;
      height: @r*134rem;
    }
    &:last-child{
      border-bottom: none;
    }
    .content{
      line-height: @r*48rem;
    }
  }
  .itemLine{
    .ftGray{
      margin-right: @r*33rem;
    }
  }
  .PGX_title{
    display: inline-block;
  }
  .itemInner.PGX_triggerToggle{
    display: inline-block;
    padding-right: @r*46rem;
    .arrow{
      border-color: #888;
    }
  }
  .PGX_triggerToggle{
    .arrow{
      top: @r*26rem;
    }
    &.on{
      .arrow{
        top: @r*34rem;
      }
    }
  }
  .evaluateName{
    line-height: 0;
    margin-top: @r*32rem;
  }
  .blueBtn{
    span{
      display: inline-block;
      line-height: @r*60rem;
      width: @r*140rem;
      height: @r*60rem;
      text-align: center;
      background: @c-blue;
      color: @c-white;
      border-radius: @r*6rem;
    }
  }
  .scoreInput{
    width: @r*80rem;
    margin-right: @r*20rem;
    border:none;
    vertical-align: middle;
    background: transparent;
    text-align: center;
  }
  .footBtn{
    border-top: @1px solid @br-gray;
    box-sizing: border-box;
    padding-left: @r*40rem;
    background: @c-white;
    color: #000;
    .itr{
      padding-right: @r*14rem;
    }
    .next{
      color: @c-white;
      background: @c-blue;
      width: @r*222rem;
      display: inline-block;
    }
  }
}