<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>酷狗音乐2017年度评优</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <script src="../node_modules/amfe-flexible/index.js"></script>
  <link rel="stylesheet" href="css/basic.css" type="text/css">
  <link rel="stylesheet" href="css/common.css" type="text/css">
</head>
<body>
<!--<span class="PGX_triggerPop blueBtn" data-for="sdsds"><span>评分</span></span>-->
<!--<div class="PGX_pop" data-id="sdsds">-->
  <!--<div class="PGX_cover PGX_closePop"></div>-->
  <!--<div class="PGX_cover_content">-->
    <!--<input data-key='<%= item.kpiKey %>'-->
           <!--value="1"-->
           <!--data-proportion='<%= item.proportion.replace("%", "") %>' class="scoreInput popFocus" type="number" placeholder="请输入得分">-->
    <!--<div class="PGX_fr">-->
      <!--<span class="PGX_closePop ftBlue">确认</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div id="appWrap">
  <section id="appHeader"></section>
  <section id="appContainer"></section>
</div>
</body>
<script src="../node_modules/requirejs/require.js"></script>
<script>
  //    /*配置*/
  require.config({
    // todo 测试使用的请求模块query值, 避开缓存
    urlArgs: function () {return '?' + Date.now();},
    paths: {
      jquery: '../node_modules/jquery/dist/jquery',
//    zepto: '../node_modules/zepto/dist/zepto',
      backbone: '../node_modules/backbone/backbone',
      underscore: '../node_modules/underscore/underscore',
      text: 'utils/require.text',                     // html的加载工具
      style: '../node_modules/require-css/css',       // css的加载工具
      // 项目工具
      tools: 'utils/tools',
      // 企业微信
      wx: 'http://res.wx.qq.com/open/js/jweixin-1.2.0',
      // 企业微信配置
      wxConfig: 'http://qywx.kugou.com/wxdev/oa/activity/common/a4a20d2ecbc69a7238d5e26ef5587421.php?url=http://fanxing.kugou.com',
      // 页面
      appHeader: 'module/appHeader/main',
      application:'app/main'
    },
    shim:{
      "application":{
        deps:[
          "backbone",
          'text',
          'mock/backbone_route_mock', // 测试mock
          'style'
        ]
      }
    }
  });

  require(['wx', 'wxConfig', 'application'], function (wx, _, application) {
    // 初始化应用
    application.init();
    var wxConfig = window.signatureData;
    if(wxConfig){
      /*初始化企业微信配置*/
      wx.config({
        beta: wxConfig.beta,// 必须这么写，否则在微信插件有些jsapi会有问题
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: wxConfig.appId, // 必填，企业微信的corpID
        timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
        nonceStr: wxConfig.appId, // 必填，生成签名的随机串
        signature: wxConfig.signature,// 必填，签名，见[附录1](#11974)
        jsApiList: ['shareAppMessage', 'onMenuShareAppMessage', 'onMenuShareWechat'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
      });
      window.app.share = function (data) {
        data = data || {
          title: '梁锦涛邀请您来参评',
          desc: '2017年年度考核',
          link: 'http://fanxing.kugou.com/fxweb/oa/kpi2017?username=jintaoliang',
          imgUrl: 'http://p3.fx.kgimg.com//v2/fxuserlogo/T1ksdEBg__1RCvBVdK.jpg_200x200.jpg'
        };
        wx.invoke('shareAppMessage', data, app.utils.toast);
      };
      wx.error(app.utils.toast);

      /*默认跳转到首页info*/
      if(!window.location.hash){
        app.navigate('#info', true);
      }
    }else{
      app.utils.toast('企业微信配置加载失败');
    }
  });
</script>
</html>
