<div id="info_wrap">
	<div class="PGX_title">酷狗音乐年终汇报</div>
	<div id="info_content">
		<span class="PGX_loading">加载中</span>
	</div>
</div>

<script type="text/html" id="infoTpl">
	<% if(data.isShare){ %>
		<div class='intro'>邀请您参与<%= data.name%>的年终总结</div>
		<p class="ftGray">请确认您的信息</p>
	<% }%>
	<ul class="list">
		<li>
			<span class="itemDesc">姓名</span>
			<% if(data.name){ %>
				<span class="itemCnt name"><%= data.name%></span>
			<% }else{ %>
				<span class="itemCnt ftGray">无法获取信息</span>
			<% }%>
		</li>
		<li>
			<span class="itemDesc">部门</span>
			<% if(data.bg){ %>
				<span class="itemCnt bg"><%= data.bg%></span>
			<% }else{ %>
				<span class="itemCnt ftGray">无法获取信息</span>
			<% }%>
		</li>
		<li>
			<span class="itemDesc">职位</span>
			<% if(data.pos){ %>
				<span class="itemCnt pos"><%= data.pos%></span>
			<% }else{ %>
				<span class="itemCnt ftGray">无法获取信息</span>
			<% }%>
		</li>
	</ul>
	<% if(status==1){ %>
	<span class="footBtn2 PGX_forward"><span>下一步</span></span>
	<% }else{ %>
	<span class="footBtn2 disable"><span>暂无法获取信息，请在企业微信中打开</span></span>
	<% }%>
</script>