<div id="peerDetail_wrap">
	<!--content-->
	<div id="peerDetail_content"></div>
	<div id="peerEvaluate">
		<span class="footBtn disable">评价</span>
	</div>
</div>

<script type="text/html" id="peerDetailTpl">
	<div>
		<div class="line">
			<h1 class="PGX_title"><%= name %></h1>
			<% if(selfSore){ %>
			<div class="PGX_fr fixPaddingTop">
				<span>自评分数</span><!--
				--><span class="PGX_number" id="selfSore"><%= selfSore %></span>
			</div>
			<% } %>
		</div>
		<% if($.isArray(kpiLists) && kpiLists.length > 0){ %>
		<% _.each(kpiLists, function(item, index) {%>
		<div class="line">
			<% if(index===0){ %>
			<h2 class="ftBlue">KPI / 关键任务</h2>
			<% } %>
			<div>
				<h3><%= item.kpiKey %></h3>
				<div class="itemLine">
					<span class="ftGray">权重</span><!--
					--><span><%= item.proportion %></span>
				</div>
				<div class="itemLine">
					<span class="ftGray">自评得分</span><!--
					--><span><%= item.kpiSore %></span>
				</div>
			</div>
		</div>
		<%});%>
		<% }%>
		<% if(selfEvaluate){ %>
		<div class="line">
			<p class="content"><%= selfEvaluate %></p>
		</div>
		<% }%>
	</div>
</script>

<script type="text/html" id="evaluateBtnTpl">
	<span class="footBtn PGX_triggerPop" data-for="evaluateInput">
		<%= (data.evaluate ? '查看' : '') %>评价
	</span>
	<div class="PGX_pop" data-id="evaluateInput">
		<div class="PGX_cover PGX_closePop"></div>
		<div class="PGX_cover_content">
			<% if(data.evaluate){ %>
				<div class="content"><%= data.evaluate %></div>
				<span class="PGX_closePop PGX_fr ftBlue">取消</span>
			<% }else{ %>
				<textarea class="popFocus" id="evaluateInput" placeholder="请输入对TA的评价，不少于50字（从被评者关系、业务交集、业绩等方面）"></textarea>
				<span class="inputTips ftGray">已经输入0字</span>
				<div class="PGX_fr">
					<span class="PGX_closePop ftBlue">取消</span><!--
					--><span class="submitEvaluate ftBlue">提交</span>
				</div>
			<% } %>
		</div>
	</div>
</script>
